<h1>{{title}}</h1>

<div class="imgdiv">
  <a class="imgdiv">
    <img
      src="https://www.imagensanimadas.com/data/media/1764/centopeia-imagem-animada-0005.gif"
      alt="centopeia-imagem-animada-0005"
      class="img1"
    />
  </a>
</div>


<audio #audioOption>
       <source src='https://www.youtube.com/watch?v=_pKXcDrmjFk&list=RDGMEMYH9CUrFO7CfLJpaD7UR85wVM_pKXcDrmjFk&start_radio=1&ab_channel=EmbassyOne' type="audio/mp3">
   </audio>
<button (click)="onAudioPlay()">Play Sound</button>

<button (click)="handleClear()">Play</button>

<br /><br />
<textarea type="text" #p rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<textarea id="square" name="w3review" rows="3" cols="5"> </textarea>
<br /><br />

<h1>{{title1}}</h1>

<p class="formfield">
  <label for="textarea">100 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Centena </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">99 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">98 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">97 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">96 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">95 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">94 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">93 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">92 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">91 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>
<p class="formfield">
  <label for="textarea">90 = </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Dezenas </label>
  <textarea id="textarea" name="textarea" rows="1" cols="1"> </textarea>
  <label for="textarea"> Unidades </label>
</p>

<br /><br />
<h1>{{title2}}</h1>
<table style="width:100%" cellborder="1">
  <tr>
    <td>0</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>80</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>90</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>60</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>50</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>40</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>30</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>25</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>95</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>98</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>75</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>5</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
  <tr>
    <td>20</td>
    <td>+</td>
    <td>
      <textarea name="" id="" cols="1" rows="1"></textarea>
    </td>
    <td>=</td>
    <td>100</td>
  </tr>
</table>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
