
<section>
    <h1>{{title}}</h1>
</section>

<section>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Centopeia</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://www.imagensanimadas.com/data/media/1764/centopeia-imagem-animada-0005.gif" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      O jogo está didivido em 5 partes: 
    <p>

      Prenchimento da centopeia de 5 em 5 , exemplo: 5,10,15 até 100.
    <p>

      Na segunda parte temos a decomposição do Número 100, exemplo: 93, 9 centenas e 3 unidades.
    <p>

      Contagem do valor 100, que corresponde à soma de valores para obter o valor 100.
    <p>

      Contagem de valores, spresenta várias somas que o resultado final é o mesmo, associando assim os resultados a cores como é vísivel na Tabela de Cores.

    </p>
  </mat-card-content>
  <mat-card-actions>
     <button (click)="handleClear()" mat-button>Jogar</button>
  </mat-card-actions>
</mat-card>

</section>

<section>
    <h1>{{title6}}</h1>
</section>

<section>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #p contenteditable=true> Número </div>
</div>
<div class="container">
  <div class="text" #pp contenteditable=true> Número </div>
</div>
</section>


<br /><br />



  <div>
  
    <tr>
      <h1>{{title1}}</h1>


    

      <p class="formfield">
        <label for="textarea">100 = </label>
        <input size="1" #100c [value]="decNumbC1" (input)="decNumbC1=getValue($event.target)" [ngStyle]="{'color': decNumbC1==1 ? 'Green':'Red'}">
        <label for="textarea"> Centena </label>
        <input size="1" #100d [value]="decNumbD1" (input)="decNumbD1=getValue($event.target)" [ngStyle]="{'color': decNumbD1==0 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #100u [value]="decNumbU1" (input)="decNumbU1=getValue($event.target)" [ngStyle]="{'color': decNumbU1==0 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">99 = </label>
        <input size="1" #99d [value]="decNumbD2" (input)="decNumbD2=getValue($event.target)" [ngStyle]="{'color': decNumbD2==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #99u [value]="decNumbU2" (input)="decNumbU2=getValue($event.target)" [ngStyle]="{'color': decNumbU2==9 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">98 = </label>
        <input size="1" #98d [value]="decNumbD3" (input)="decNumbD3=getValue($event.target)" [ngStyle]="{'color': decNumbD3==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #98u [value]="decNumbU3" (input)="decNumbU3=getValue($event.target)" [ngStyle]="{'color': decNumbU3==8 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">97 = </label>
        <input size="1" #97d [value]="decNumbD4" (input)="decNumbD4=getValue($event.target)" [ngStyle]="{'color': decNumbD4==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #97u [value]="decNumbU4" (input)="decNumbU4=getValue($event.target)" [ngStyle]="{'color': decNumbU4==7 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">96 = </label>
        <input size="1" #96d [value]="decNumbD5" (input)="decNumbD5=getValue($event.target)" [ngStyle]="{'color': decNumbD5==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #96u [value]="decNumbU5" (input)="decNumbU5=getValue($event.target)" [ngStyle]="{'color': decNumbU5==6 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">95 = </label>
        <input size="1" #95d [value]="decNumbD6" (input)="decNumbD6=getValue($event.target)" [ngStyle]="{'color': decNumbD6==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #95u [value]="decNumbU6" (input)="decNumbU6=getValue($event.target)" [ngStyle]="{'color': decNumbU6==5 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">94 = </label>
        <input size="1" #94d [value]="decNumbD7" (input)="decNumbD7=getValue($event.target)" [ngStyle]="{'color': decNumbD7==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #94u [value]="decNumbU7" (input)="decNumbU7=getValue($event.target)" [ngStyle]="{'color': decNumbU7==4 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">93 = </label>
        <input size="1" #93d [value]="decNumbD8" (input)="decNumbD8=getValue($event.target)" [ngStyle]="{'color': decNumbD8==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #93u [value]="decNumbU8" (input)="decNumbU8=getValue($event.target)" [ngStyle]="{'color': decNumbU8==3 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">92 = </label>
        <input size="1" #92d [value]="decNumbD9" (input)="decNumbD9=getValue($event.target)" [ngStyle]="{'color': decNumbD9==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #92u [value]="decNumbU9" (input)="decNumbU9=getValue($event.target)" [ngStyle]="{'color': decNumbU9==2 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">91 = </label>
        <input size="1" #91d [value]="decNumbD10" (input)="decNumbD10=getValue($event.target)" [ngStyle]="{'color': decNumbD10==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #91u [value]="decNumbU10" (input)="decNumbU10=getValue($event.target)" [ngStyle]="{'color': decNumbU10==1 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
      <p class="formfield">
        <label for="textarea">90 = </label>
        <input size="1" #90d [value]="decNumbD11" (input)="decNumbD11=getValue($event.target)" [ngStyle]="{'color': decNumbD11==9 ? 'Green':'Red'}">
        <label for="textarea"> Dezenas </label>
        <input size="1" #90u [value]="decNumbU11" (input)="decNumbU11=getValue($event.target)" [ngStyle]="{'color': decNumbU11==0 ? 'Green':'Red'}">
        <label for="textarea"> Unidades </label>
      </p>
    </tr>
  </div>



  <br /><br />
  <div>
    <tr>
      <br /><br />

      <h1>{{title2}}</h1>
      <table style="width:100%" cellborder="1">
        <th>  </th>
        <tr>
          <td>0</td>
          <td>+</td>
          <td>
            <input size="1" #sum100 [value]="sumNumber1" (input)="sumNumber1=getValue($event.target)" [ngStyle]="{'color': sumNumber1==100 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>10</td>
          <td>+</td>
          <td>
            <input size="1" #sum90 [value]="sumNumber2" (input)="sumNumber2=getValue($event.target)" [ngStyle]="{'color': sumNumber2==90 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>80</td>
          <td>+</td>
          <td>
            <input size="1" #sum20 [value]="sumNumber3" (input)="sumNumber3=getValue($event.target)" [ngStyle]="{'color': sumNumber3==20 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>90</td>
          <td>+</td>
          <td>
            <input size="1" #sum10 [value]="sumNumber4" (input)="sumNumber4=getValue($event.target)" [ngStyle]="{'color': sumNumber4==10 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>60</td>
          <td>+</td>
          <td>
            <input size="1" #sum40 [value]="sumNumber5" (input)="sumNumber5=getValue($event.target)" [ngStyle]="{'color': sumNumber5==40 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>50</td>
          <td>+</td>
          <td>
            <input size="1" #sum50 [value]="sumNumber6" (input)="sumNumber6=getValue($event.target)" [ngStyle]="{'color': sumNumber6==50 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>40</td>
          <td>+</td>
          <td>
            <input size="1" #sum60 [value]="sumNumber7" (input)="sumNumber7=getValue($event.target)" [ngStyle]="{'color': sumNumber7==60 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>30</td>
          <td>+</td>
          <td>
            <input size="1" #sum70 [value]="sumNumber8" (input)="sumNumber8=getValue($event.target)" [ngStyle]="{'color': sumNumber8==70 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>25</td>
          <td>+</td>
          <td>
            <input size="1" #sum75 [value]="sumNumber9" (input)="sumNumber9=getValue($event.target)" [ngStyle]="{'color': sumNumber9==75 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>95</td>
          <td>+</td>
          <td>
            <input size="1" #sum5 [value]="sumNumber10" (input)="sumNumber10=getValue($event.target)" [ngStyle]="{'color': sumNumber10==5 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>98</td>
          <td>+</td>
          <td>
            <input size="1" #sum2 [value]="sumNumber11" (input)="sumNumber11=getValue($event.target)" [ngStyle]="{'color': sumNumber11==2 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>75</td>
          <td>+</td>
          <td>
            <input size="1" #sum25 [value]="sumNumber12" (input)="sumNumber12=getValue($event.target)" [ngStyle]="{'color': sumNumber12==25 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>5</td>
          <td>+</td>
          <td>
            <input size="1" #sum95 [value]="sumNumber13" (input)="sumNumber13=getValue($event.target)" [ngStyle]="{'color': sumNumber13==95 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
        <tr>
          <td>20</td>
          <td>+</td>
          <td>
            <input size="1" #sum80 [value]="sumNumber14" (input)="sumNumber14=getValue($event.target)" [ngStyle]="{'color': sumNumber14==80 ? 'Green':'Red'}">
          </td>
          <td>=</td>
          <td>100</td>
        </tr>
      </table>

<br /><br />

  <div>
    <br /><br />
    <h1>{{title3}}</h1>

 
<table style="width:400%" cellborder="1">
        <th>  </th>
        <tr>
          <td>25</td>
          <td>+</td>
          <td>25</td>
          <td>  </td>
          <td>30</td>
          <td>+</td>
          <td>20</td>
          <td> </td>
          <td>40</td>
          <td>+</td>
          <td>10</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
        
           <tr>
          <td>30</td>
          <td>+</td>
          <td>30</td>
          <td>  </td>
          <td>10</td>
          <td>+</td>
          <td>50</td>
          <td> </td>
          <td>50</td>
          <td>+</td>
          <td>10</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
          <tr> 
          <td>50</td>
          <td>+</td>
          <td>20</td>
          <td>  </td>
          <td>10</td>
          <td>+</td>
          <td>20</td>
          <td>+</td>
          <td>40</td>
          <td> </td>
          <td>30</td>
          <td>+</td>
          <td>30</td>
          <td>+</td>
          <td>10</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
        
           <tr>
          <td>50</td>
          <td>+</td>
          <td>50</td>
          <td>  </td>
          <td>10</td>
          <td>+</td>
          <td>90</td>
          <td> </td>
          <td>70</td>
          <td>+</td>
          <td>20</td>
          <td>+</td>
          <td>10</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr><tr>
           <tr>
          <td>70</td>
          <td>+</td>
          <td>10</td>
          <td>  </td>
          <td>60</td>
          <td>+</td>
          <td>20</td>
          <td> </td>
          <td>50</td>
          <td>+</td>
          <td>20</td>
          <td>+</td>
          <td>10</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
    
           <tr>
          <td>50</td>
          <td>+</td>
          <td>20</td>
          <td>+</td>
          <td>20</td>
          <td>  </td>
          <td>60</td>
          <td>+</td>
          <td>30</td>
          <td> </td>
          <td>70</td>
          <td>+</td>
          <td>20</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
         <tr>
          <td>5</td>
          <td>+</td>
          <td>15</td>
          <td>  </td>
          <td>10</td>
          <td>+</td>
          <td>10</td>
          <td> </td>
          <td>5</td>
          <td>+</td>
          <td>10</td>
          <td>+</td>
          <td>5</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
        <tr>
          <td>5</td>
          <td>+</td>
          <td>25</td>
          <td>  </td>
          <td>5</td>
          <td>+</td>
          <td>10</td>
          <td>+</td>
          <td>15</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
         <tr>
          <td>20</td>
          <td>+</td>
          <td>20</td>
          <td>  </td>
          <td>5</td>
          <td>+</td>
          <td>35</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
         <tr>
          <td>5</td>
          <td>+</td>
          <td>5</td>
          <td>  </td>
          <td>7</td>
          <td>+</td>
          <td>3</td>
          <td>=</td>
          <textarea name="" id="" cols="1" rows="1"></textarea>
        </tr>
    </table>    
</div>
<br /><br />
<div> 
<br /><br />
    <h1>{{title4}}</h1>

<table mat-table [dataSource]="dataSource1" style="width:200%" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="soma">
    <th mat-header-cell *matHeaderCellDef> Soma </th>
    <td mat-cell *matCellDef="let element"> {{element.soma}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="soma1">
    <th mat-header-cell *matHeaderCellDef> Soma1 </th>
    <td mat-cell *matCellDef="let element"> {{element.soma1}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="soma2">
    <th mat-header-cell *matHeaderCellDef> Soma2 </th>
    <td mat-cell *matCellDef="let element"> {{element.soma2}} </td>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="resultado">
    <th mat-header-cell *matHeaderCellDef> Resultado </th>
    
    <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.cor == 'Verde' ? 'Green' : element.cor === 'Amarelo' ? 'Yellow'  : element.cor === 'Cor-de-Rosa' ? 'Pink' : element.cor === 'Lilás' ? '#cc99cc' : element.cor === 'Laranja' ? 'Orange' : element.cor === 'Azul' ? 'Blue' :  element.cor === 'Vermelho' ? 'Red' : element.cor === 'Preto' ? 'Black' :element.cor === 'Roxo' ? '#993399' : element.cor === 'Cinzento' ? '#d3d3d3' : ''  }"> {{element.resultado}} </td>

    
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cor">
    <th mat-header-cell *matHeaderCellDef> Cor </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.cor == 'Verde' ? 'Green' : element.cor === 'Amarelo' ? 'Yellow'  : element.cor === 'Cor-de-Rosa' ? 'Pink' : element.cor === 'Lilás' ? '#cc99cc' : element.cor === 'Laranja' ? 'Orange' : element.cor === 'Azul' ? 'Blue' :  element.cor === 'Vermelho' ? 'Red' : element.cor === 'Preto' ? 'Black' :element.cor === 'Roxo' ? '#993399' : element.cor === 'Cinzento' ? '#d3d3d3' : ''  }" >  {{element.cor}} </td>
  </ng-container>

 


  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
</table>
</div>
<br /><br />
<div>

<br /><br />
    <h1>{{title5}}</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:300%">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="soma">
    <th mat-header-cell *matHeaderCellDef> Soma </th>
    <td mat-cell *matCellDef="let element"> {{element.soma}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Resultado </th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Cor">
    <th mat-header-cell *matHeaderCellDef> Cor </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.Cor == 'Verde' ? 'Green' : element.Cor === 'Amarelo' ? 'Yellow'  : element.Cor === 'Cor-de-Rosa' ? 'Pink' : element.Cor === 'Lilás' ? '#cc99cc' : element.Cor === 'Laranja' ? 'Orange' : element.Cor === 'Azul' ? 'Blue' :  element.Cor === 'Vermelho' ? 'Red' : element.Cor === 'Preto' ? 'Black' :element.Cor === 'Roxo' ? '#993399' : element.Cor === 'Cinzento' ? '#d3d3d3' : ''  }" >  {{element.Cor}} </td>
  </ng-container>

 


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
