/* Global Styles */
.square {
  height: 50px;
  width: 50px;
  background-color: #555;
  display:flex;
  align-items: center;
  justify-content: center;
}

.label {
   border: 10px solid black;
}
.imgdiv {
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 10px;
  height: 150px;
}

.example-card {
  max-width: 1000px;
  border: 1px solid #ccc


}

.example-header-image {
  background-image: url('https://www.imagensanimadas.com/data/media/1764/centopeia-imagem-animada-0005.gif');
  background-size: cover;
  
}
.mat-button-toggle-group {
  margin-left: 12px;
}
.img1 {
  height: 150px;
  width: 220px;
}
table {
  border: 1px solid #ccc;
  width: 100%;
}
section {
  display: table;
}

td{
  text-align: center;
  border: 1px solid #ccc;
}
textarea.ng-invalid {
    background-color:pink;
}
textarea.ng-valid {
    background-color:lightgreen;
}
.container {
  width: 80px;
  height: 80px;
  background: #eee;
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.text {
  text-align: center;
  margin: 10px;
}
div{
  float: left;
}
textarea {
  white-space: normal;
  text-align: center;
  text-align-last: center;
  justify-content: center;
  resize: none;
  align-items: center;
}

.formfield * {
  vertical-align: middle;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #264d73;
  font-size: 2.5rem;
}
h2,
h3 {
  color: #444;
  font-weight: lighter;
}
h3 {
  font-size: 1.3rem;
}
body {
  padding: 0.5rem;
  max-width: 1000px;
  margin: auto;
}
@media (min-width: 600px) {
  body {
    padding: 2rem;
  }
}
body,
input[text] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
a {
  cursor: pointer;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}
nav a.active {
  background-color: black;
  color: white;
}
hr {
  margin: 1.5rem 0;
}
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
